/* ----------------------------
stylesheets 
--------------------------------*/

.sky{
    width: 100vw;
    height: 35vh;
    background-color: rgba(124,198,231,255);
}

/* Movements of the cloud */

.fa-cloud{
    color: white;
    font-size: 3em;
    margin-top: 20px;
    animation:cloud 20s linear infinite ;
}
 
@keyframes cloud {
    0{
        transform: translate(100vw)
    }

    100%{
        transform: translate(100vw)
    }
    
}

/* design of the field  */
.grass{
    width: 100vw;
    height: 35vh;
    background-color: rgba(41,128,76,255);
    border-bottom: 8px solid rgba(94,94,94,255) ;
}
.road-left{
    width: 100vw;
    height: 15vh;
    background-color:rgba(94,94,94,255) ;
    border-bottom: 4px dashed white;
}
 
/* mario drives the bike on the road  */

.road-left img{
    animation: drive 5s ease-in-out 2s infinite;

}

@keyframes drive {
    0{
        transform: translate(100vw)
    }
    100%{
        transform: translate(100vw)
    }
    
}

.road-right{
    width: 100vw;
    height: 15vh;
    background-color:rgba(94,94,94,255) ;
    border-top: 4px dashed white;;
}